{% load static %}

<!DOCTYPE html>
<html dir="ltr" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- Tell the browser to be responsive to screen width -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords"
              content="V-Chitra Admin Panel">
        <meta name="description"
              content="V-Chitra Admin Panel">
        <meta name="robots" content="noindex,nofollow">
        <title>V-Chitra Admin Panel</title>
        <!-- Favicon icon -->
        <link rel="icon" type="image/png" sizes="16x16" href="plugins/images/favicon.png">
        <!-- Custom CSS -->
        <link href="{% static 'css/style.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/cropper.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/v-chitra-backend.css' %}" rel="stylesheet">
    </head>
    

<body>
<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<div class="preloader">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>
<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">
    <!-- ============================================================== -->

    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <!-- Row -->
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-8 col-10">
                    <div class="logo d-flex flex-column justify-content-center align-items-center mb-4">
                        <img class="img-fluid" src="{% static 'images/v-chitra-icon.png' %}"/>
                        <img class="img-fluid" src="{% static 'images/v-chitra-text.png' %}"/>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <p><h1>Password Reset</h1> <br>
We have sent you an e-mail. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes</p>
                        </div>
                        <div class="p-3">
                            <a class="btn btn-primary" href="{% url 'index' %}">Home</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row -->
            <!-- ============================================================== -->
            <!-- End PAge Content -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Right sidebar -->
            <!-- ============================================================== -->
            <!-- .right-sidebar -->
            <!-- ============================================================== -->
            <!-- End Right sidebar -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->

        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->
<script src="{% static 'plugins/bower_components/jquery/dist/jquery.min.js' %}"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="{% static 'bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/app-style-switcher.js' %}"></script>
<!--Wave Effects -->
<script src="{% static 'js/waves.js' %}"></script>
<!--Menu sidebar -->
<script src="{% static 'js/sidebarmenu.js' %}"></script>
<!--Custom JavaScript -->
<script src="{% static 'js/custom.js' %}"></script>
</body>

</html>